.content-card{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	border:none;
	border-radius: 5px;
}
.card-image{
	border-radius: 5px 5px 0 0 ;
	margin: 0 auto;
	width: 100%;
}

.content-card-section1{
	width:85%;
	display: inline-block;
	vertical-align: top;
}

.content-card-title {
    float: right;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 15px;
    color: #002d9d;
    font-weight: bold;
    border-bottom: 1px solid #f6d600;
}
.content-card .panel-body{
	padding: 0 7px 7px 7px;

}
.content-card-title p{
	margin-bottom: 0
}

.content-card-info {
    float: left;
    margin-top: 35px;
    padding-right: 30px;
    border-left: 1px solid #f6d600;
    margin-bottom: 30px;
    padding-left: 10px;
}

.content-card-info p {
    padding-top: 0;
    margin: 0;
    padding-right: 20px;
    
}
.content-card-info a:hover {
    color: #f6d600;
}

.content-card-info a {
    color: #1f2634;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    padding-bottom: 10px;
}

.content-card-section2{
	width:15%;
	display: inline-block;
	border: 2px solid #efefef;
	border-top: none;
	text-align: center;
	border-radius: 0 0 40px 40px;
    padding-bottom: 8px;

}

.content-card-section2 ul{
	list-style: none;
    margin-top: 12px;
    padding-left: 0;
    border-radius: 0 0 25% 25%
}
.content-card-section2 li{
	margin-bottom: 3px;

}

.content-card-footer{
	/*margin-top: 5px;*/
	margin-bottom: 5px;
	/*border-top: 2px solid #efefef*/
}

.content-card-footer .ico-icon42{
    color: #fa8f65;
}

.footer-icons{
    font-size: 20px;
}

.content-card-footer ul{
	list-style: none;
	padding-left: 0;
	border-top: 2px solid #efefef;
    padding-top: 8px;
}

.content-card-footer li{
    display: inline;
    margin-top: 2px;
    border-bottom: none;
    padding: 10px;   
}

.content-card-footer span{
    padding-left: 8px;
}